$body-font-family: 'Roboto', sans-serif;
$heading-font-family: 'Roboto', sans-serif;

@use 'vuetify' with (
  $body-font-family: $body-font-family,
  $heading-font-family: $heading-font-family
);

@font-face {
  font-family: 'Roboto', sans-serif;
  // src: url('@/assets/fonts/Roboto-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto', sans-serif;
  // src: url('@/assets/fonts/Roboto-Regular.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto', sans-serif;
  // src: url('@/assets/fonts/Roboto-SemiBold.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

#app {
  font-family: 'Roboto', sans-serif;
}
